<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function redirectToProfile() {
            fetch('/check-login')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.loggedIn) {
                        window.location.href = `/profil?id=${data.userId}`;
                    } else {
                        window.location.href = '/res_log';
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function redirectToTest() {
            window.location.href = '/test';
        }
    </script>
</head>
<body>
    <div class="form-container">
        <div class="btn-box">
            <div class="logo">
                <h1><span>MyEnglish</span></h1>
            </div>
            <button class="btn btn-primary" onclick="redirectToProfile()">Профіль</button>
            <button class="btn btn-secondary" onclick="redirectToTest()">Тест</button>
        </div>
    </div>
</body>
</html>
